body {
  background-color: Maroon;
}

h1 {
  color: white;
  text-align: center;
  font-family: Lucida Handwriting;
}

p {
  font-family: Papyrus;
  font-size: 20px;
  color: white;
}

ul {
  font-family: Papyrus;
  font-size: 20px;
  color: white;
}

h3 {
  color: GhostWhite; 
  font-family: Monaco; 
  font-size: 23px;
}

h4 {
  color: GhostWhite;
  font-family: Monaco;
  font-size: 21px;
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}
#topNav {
  background: dimgray;
  box-shadow: 0px 1px 10px 10px lightgray;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
  height: auto;
  text-align: center;
  width: 100%;
}
#topNav li {
  display: inline;
}
#topNav a {
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px 15px;  /*  top/bottom | left/right  */
  text-decoration: none;
  transition: color 0.3s ease-in;  /*  property | time | method  */
}
#topNav a:hover {
  color: lime;
}

.flex-container {
    display: flex;
}




.flex-child {
    flex: 1;
    border: 2px solid White;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.logo {
  width: 75%;
}


</body>


    
