body {
  background-color: Maroon;
}

h1 {
  color: white;
  text-align: center;
  font-family: Lucida Handwriting;
}

p {
  font-family: Papyrus;
  font-size: 20px;
  color: white;
}

h3 {
  color: GhostWhite; 
  font-family: Monaco; 
  font-size: 25px;
}
</body>
    
